header {
    text-align : center;
    color : #1b7dda;
    font-size : 4em;
    font-weight : bold;
}
textarea {
    resize : none;
}
#IN {
    border : 0.5rem solid #1b7dda;
    border-radius : 1rem;
    width : 60rem;
    margin : 0 auto;
    padding : 1rem 2rem;
}
.cmt {
    border : 0.1rem dashed #1b7dda;
    border-radius : 1rem;
    width : 60rem;
    margin : 0.5rem auto;
    padding : 1rem 2rem;
}
#ID textarea {
    width: 15rem;
    height: 1rem;
}
#TWEET textarea {
    width: 60rem;
    height: 3rem;
}
input {
    width: 5rem;
    height: 2rem;
}
.cmt :nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
}
.cmt :nth-child(1):hover {
    cursor: pointer;
    text-decoration: underline;
}
.cmt :nth-child(2) {
    font-size: 1.3rem;
}
.cmt :nth-child(3) {
    font-size: 1rem;
    color: #aaaaaa;
    text-align: right;
}